html {
    min-height: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    position: relative;
    border: 2px red solid;
}

#canvas {
    transform: scale(1, -1);
}

#overlay {
    transform: scale(1, -1);
    position: absolute;
    left: 0;
    top: 0;
}

ul {
    position: absolute;
    display: flex;
    left: 1rem;
    right: 1rem;
    list-style-type: none;
    border: 1px black solid;
    padding: 1rem;
}

li {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-bottom: 4px;
}

li:not(:last-child) {
    margin-right: 2rem;
}

span {
    display: inline-block;
    width: 16px;
    height: 14px;
    margin-right: 4px;
}

span.sin {
    background: red;
}

span.cos {
    background: blue;
}

span.one {
    background: green;
}